body {
 margin: 0;
 font-family: 'Oswald', sans-serif;
}

.navigation-panel {
 list-style-type: none;
 justify-content: space-between;
 margin: 0;
 line-height: 60px;
 font-size: 14px;
 display: flex;
 background-color: white;
 height: 60px;
 padding-left: 13px;
 padding-right: 20px;
}

a {
 text-decoration: none;
 padding-left: 20px;
 padding-right: 20px;
 color: black;
 position: relative;
 transition: all .25s ease;
}

.a-links:hover::after {
 transform: scaleX(1);
}

.a-links::after {
 content: "";
 height: 2px;
 width: 100%;
 position: absolute;
 background-color: black;
 bottom: -8px;
 left: 0;
 transform: scaleX(0);
 transition: all .25s ease;
}

.li-navigation-panel:last-child a {
 background-color: #dd3d53;
 border-radius: 3px;
 line-height: 30px;
 height: 30px;
 padding: 5px 10px;
 margin-left: 70px;
 transition: all .25s ease;
}

.li-navigation-panel:last-child a:hover {
 background-color: #c9233a;
}

.logo-nav {
 height: 60px;
 padding-top: 3px;
}

.list-nav {
 display: flex;
}