@mixin flexy {display: flex;}
@mixin nothing {display: none;}

body {
 margin: 0;
 font-family: 'Oswald', sans-serif;
}

.burger-icon {
 @include nothing;
}

.navigation-panel {
 @include flexy;
 list-style-type: none;
 justify-content: space-between;
 margin: 0;
 line-height: 60px;
 font-size: 14px;
 background-color: rgb(61, 59, 59);
 height: 60px;
 padding-left: 13px;
 padding-right: 20px;
}

a {
 text-decoration: none;
 padding-left: 20px;
 padding-right: 20px;
 color: white;
 position: relative;
 transition: all .25s ease;
}

.a-links::after {
 content: "";
 height: 2px;
 width: 100%;
 position: absolute;
 background-color: white;
 bottom: -8px;
 left: 0;
 transform: scaleX(0);
 transition: all .25s ease;
}

.a-links:hover::after {
 transform: scaleX(1);
}

.li-navigation-panel:last-child {
 a {
  background-color: #000000;
  border-radius: 3px;
  line-height: 30px;
  height: 30px;
  padding: 5px 10px;
  margin-left: 70px;
  transition: all .25s ease;
 }
 a:hover {
  background-color: #bf0c0c;
 }
}

.logo-nav {
 height: 50px;
 padding-top: 3px;
}

.list-nav {
 @include flexy;
}

@media screen and (max-width: 855px) {
 .burger-icon {
  display: block;
  cursor: pointer;
 }
 .list-nav {
  @include nothing;
 }
}